<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>

<body>

    <head>
        <div class="top_inner_info">
            <a href="" class="top_inner_info_image">
                <img src="/image/327023159.jpg" alt="">
            </a>
        </div>
        <div class="header">
            <div class="header_container">
                <div class="user_mobile_nav_menu">
                    <button type="button">
                        <img src="/image/burger_pic.svg" alt="">
                    </button>
                </div>
                <div class="rozetka_logo_conteiner">
                    <a href="" class="main_url">
                        <img src="/image/rozetka_logo_pic.svg" alt="" class="rozetka_logo_conteiner_img">
                    </a>
                </div>
                <div class="nav_menu_full_conteiner">
                    <button type="button" class="but_nav_menu_full">
                        <img src="/image/ico_but_nav_menu_full.svg" alt="" class="ico_but_nav_menu_full">
                        Каталог
                    </button>
                </div>
                <div class="form_search_container">
                    <form action="">
                        <input type="search" class="search_product_input" autocomplete="off" placeholder="Я шукаю...">
                        <button type="submit" class="search_product_button_submit">Знайти</button>
                    </form>
                </div>
                <div class="header_action">
                    <div class="header_action_language">
                        <a href="">
                            <img src="/image/flag-ua.svg" alt="">
                            UA</a>
                    </div>
                    <div class="header_action_menu_order"></div>
                    <div class="header_action_user">
                        <button type="button" class="header_action_user_btn">
                        </button>
                    </div>
                    <div class="header_action_basket">
                        <button type="button" class="header_action_basket_btn"></button>
                    </div>
                </div>
            </div>
    </head>
</body>

</html>